{% extends 'bases/reviewsBase.html.twig' %}

{% block scrollingBlock %}
    <div class="scrolling-block" data-scrolling-type="reviews_with_sort" data-scrolling-last-id="{{ lastId }}" data-scrolling-param="{{ selectedSortType }}"></div>
{% endblock %}
