parameters:
    app.locales: 'en|ru'

services:
    _defaults:
        autowire: true      # Automatically injects dependencies in your services.
        autoconfigure: true # Automatically registers your services as commands, event subscribers, etc.

    App\:
        resource: '../src/'
        exclude:
            - '../src/DependencyInjection/'
            - '../src/Entity/'
            - '../src/Kernel.php'
            - '../src/Tests/'

    App\Services\FileStorage:
        arguments:
            - '%env(CLOUDINARY_URL)%'
            - '%kernel.project_dir%/public/temp/'
            - '@doctrine.orm.entity_manager'

###>>>paginator>>>
    App\Services\Paginator\PaginatorAdapter:
        arguments:
            $paginator: '@knp_paginator'
###<<<paginator<<<

###>>>indexer>>>
    App\Services\Indexer\ElasticSearch\ESIndexer:
        arguments:
            $index: "@fos_elastica.object_persister.review"
###<<<indexer<<<

###>>>comments>>>
    App\Services\Reviews\Comments\CommentOperations:
        arguments:
            $indexer: '@App\Services\Indexer\ElasticSearch\ESIndexer'
            $sender: '@App\Services\Senders\Mercure\Comments\CommentsEditSender'
###<<<comments<<<

###>>>senders>>>
    App\Services\Senders\Mercure\MercureSender:
        arguments:
###<<<senders<<<

###>>>theme-controller>>>
    App\Controller\Settings\ThemeController:
        arguments:
            $themeManager: '@App\Services\ThemeManager\Cookie\TMViaCookie'
###<<<theme-controller<<<

###>>>searcher>>>
    App\Services\Searcher\ElasticSearch\ESSearcher:
        arguments:
            $finder: '@fos_elastica.finder.review'

    App\Controller\Search\SearchController:
        arguments:
            $searcher: '@App\Services\Searcher\ElasticSearch\ESSearcher'
###<<<searcher<<<