:root {
    /* --bs-blue: #0d6efd;  */
    /* --bs-indigo: #6610f2; */
    /* --bs-purple: #6f42c1; */
    /* --bs-pink: #d63384; */
    /* --bs-red: #dc3545; */
    /* --bs-orange: #fd7e14; */
    /* --bs-yellow: #ffc107; */
    /* --bs-green: #198754; */
    /* --bs-teal: #20c997; */
    /* --bs-cyan: #0dcaf0; */
    /* --bs-white: #fff; */
    /* --bs-gray: #6c757d; */
    /* --bs-gray-dark: #343a40; */
    /* --bs-gray-100: #f8f9fa; */
    /* --bs-gray-200: #e9ecef; */
    /* --bs-gray-300: #dee2e6; */
    /* --bs-gray-400: #ced4da; */
    /* --bs-gray-500: #adb5bd; */
    /* --bs-gray-600: #6c757d; */
    /* --bs-gray-700: #495057; */
    /* --bs-gray-800: #343a40; */
    /* --bs-gray-900: #212529; */
    --bs-primary: #2f2f2f;
    --bs-secondary: #464646;
    --bs-success: #115e3a;
    /* --bs-info: #0dcaf0; */
    /* --bs-warning: #ffc107; */
    --bs-danger: #962c37;
    --bs-light: #222222;
    /* --bs-dark: #212529; */
    /* --bs-primary-rgb: 13, 110, 253; */
    --bs-secondary-rgb: 70, 70, 70;
    --bs-success-rgb: 17, 94, 58;
    /* --bs-info-rgb: 13, 202, 240; */
    /* --bs-warning-rgb: 255, 193, 7; */
    --bs-danger-rgb: 150, 44, 55;
    --bs-light-rgb: 34, 34, 34;
    /* --bs-dark-rgb: 34, 34, 34; */
    --bs-white-rgb: 25, 25, 25;
    --bs-black-rgb: 136, 136, 136;
    /* --bs-body-color-rgb: 33, 37, 41; */
    /* --bs-body-bg-rgb: 255, 255, 255; */
    --bs-body-color: #888888;
    --bs-body-bg: rgb(25, 25, 25);

    --header-link-color: #b9b384;
    --header-link-color-rgb: 185, 179, 132;
    --border-def-color: #282828;
    --navbar-icon: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28185, 179, 132, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
    --button-color: #99a2ad;
    --selection-remove-img: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%2399a2ad'%3e%3cpath d='M.293.293a1 1 0 011.414 0L8 6.586 14.293.293a1 1 0 111.414 1.414L9.414 8l6.293 6.293a1 1 0 01-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 01-1.414-1.414L6.586 8 .293 1.707a1 1 0 010-1.414z'/%3e%3c/svg%3e");
  }